# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\dogfr\Documents\GitHub\LAB3_GUSAK_MYKYTA\LAB3_GUSAK_MYKYTA\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
